* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lucida Handwriting", cursive;
}

.upper-div {
    background: repeating-linear-gradient(
        45deg, 
        rgb(34, 45, 162) 0%, 
        rgb(34, 45, 162) 2rem, /* 2rem is relative to root font size */
        black 2rem, 
        black 4rem
    );
    padding: 2rem; /* Using rem for padding */
    color: white;
}

.lower-div {
    background: linear-gradient(to bottom, rgb(34, 45, 162), white);
}

.html-video {
    padding-top: 5vh; /* Using vh for top padding */
    padding-left: 8vw; /* Using vw for left padding */
    color: white;
    font-size: 2rem; /* Using rem for font size */
}

.video-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.video-item {
    text-align: center;
}

.video-description {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #333;
}
